<body>
  <div class="content__modal">
    <h1 class="content__modal--title">Olha o que você ganhou!!</h1>
    <p class="content__modal--paragraph">
      Veja só você ganhou uma bela cabra <strong>Parabéns</strong>
    </p>
    <img src="../../assets/goat.png" alt="" width="150" />
    <p class="content__modal--paragraph">
      Prepare o pasto e o cercado!! vamos entregar uma bela cabra de brinquedo
      pra você!!
    </p>
    <button class="btn btn__success modal__btn--only" onclick="closeModal()">
      Quero minha cabra
    </button>
  </div>
</body>
