<body>
    <div class="content__modal">
        <h1 class="content__modal--title">Uma das portas foi aberta!!</h1>
        <p class="content__modal--paragraph">
            Uma das portas foi aberta, e nela havia uma cabra, então até o momento 
            você não ganhou aquela cabra!!
        </p>
        <p class="content__modal--paragraph">Mas ainda temos outras duas portas as serem abertas,
            então a pergunta é: <strong> Você quer manter a sua escolha inicial ou quer trocar a porta 
            escolhida?</strong>
        </p>

        <small class="content__modal--paragraph">
            Caso queira trocar de porta você só precisa clicar no botão <strong>"Escolher Denovo"</strong>
        </small>
        <button class="btn btn__success modal__btn--only" onclick="closeModal()">Prosseguir</button>
    </div>
</body>