<body>
    <div class="content__modal">
        <h1 class="content__modal--title">Problema de Monty Hall</h1>
        <p class="content__modal--paragraph">
            Você está em um jogo em um programa de TV,
            e precisa escolher uma entre três portas: por
            trás de uma está um carro, e nas duas outras, cabras. Você escolhe um delas e pode 
            ganhar um dos dois prêmios.
        </p>
        <button class="btn btn__success modal__btn--only" onclick="closeModal()">Quero Tentar</button>
    </div>
</body>